<a [routerLink]="['/rxjs']" routerLinkActive="router-link-active">
  Rxjs
</a>
<a [routerLink]="['/rxjs-subjects']" routerLinkActive="router-link-active">Subjects</a>


<p-dialog header="Title" [(visible)]="display">
  Content

  <input pInputText [ngModel]="message" (ngModelChange)="onModelChange($event)" />

</p-dialog>

<p-button type="button" (click)="showDialog()" icon="pi pi-info-circle" label="Show"> Open Dialog </p-button>

<app-subs1></app-subs1>
<h1></h1>
<app-subs2></app-subs2>


<router-outlet></router-outlet>